<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sach thanh pho</title>
</head>
<body>
    <h2>Danh sách thành phố</h2>
    <a th:href="@{/city/create}">Thêm thành phố</a>
    <table border="1">
        <tr>
            <th>#</th>
            <th>Thành phố</th>
            <th>Quốc gia</th>
            <th></th>
        </tr>
        <tr th:each="city,number : ${listCity}">
            <td th:text="${number.index}"></td>
            <td><a th:text="${city.name}" th:href="@{/city/show/__${city.id}__}"></a></td>
            <td th:text="${city.country.name}"></td>
            <td><a th:href="@{/city/edit/__${city.id}__}">Edit</a>/<a th:href="@{/city/delete/__${city.id}__}">delete</a></td>
        </tr>
    </table>
</body>
</html>